
body {
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

.home-button {
    position: fixed;
    left: 30px;
    bottom: 30px;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
/*    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale; */
    transition-duration: 0.3s;
    transition-property: transform;
}

.home-button:hover,
.home-button:focus,
.home-button:active {
    transform: scale(1.1);
    cursor: pointer;
}
